body {
  font-family: -apple-system, "Helvetica Neue", "Lucida Grande", sans-serif;
  color: grey;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  color: white;
  margin: 0 0 20px;
}

button.login {
  padding: 10px;
  cursor: pointer;
}
